*{
	box-sizing: border-box;
	font-family: font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: 200;
	font-stretch: normal;
	font-size: 17px;
	line-height: 1.38;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
	padding: 0;
}

img {
	max-width: 100%;
}

body{
	background: rgba(0, 0, 0, 0.2);
}

@media all and (min-width:558px) {
	body { 
		grid-template-columns: 1fr 1fr;
	}
}

nav{
	position:fixed;
	width:100%;
}

section{
	margin: 0px;
	width:100%;
	background-color: white;
	box-shadow:  0 1px 0 rgba(0,0,0,.17);
}

.navbar-pri{
	margin: 0px 30px 0px 30px;
	padding:30px;	
/*	height:50px;
*/	position:relative;
overflow: hidden;

}

.menu-icon img{
	width:30px;
	position: absolute;
	left: 20px;
	bottom: 18px;
}

.logo img{
	width:120px;
	position:absolute;
	left:40%;
	top: -13px;
}

.navbar-sec{
	background-color: white;
	box-shadow:  0 1px 0 rgba(0,0,0,.17);
	position: relative;


}

.navbar-sec-content {
	position: absolute;
	left:35%;

}




.navbar-sec-content li{
	display: inline;
	text-transform: uppercase;
}




